:root {
  --primary: #34efa1;
  --secondary: #345efa;
  --dark: #13eaf1;
  --light: #19f;
  --light1: #17f;
  --light2: #18f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(
    to right,
    var(--light),
    var(--light1),
    var(--light2)
  );
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background: #999;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 1), 0 0px 3px rgba(0, 0, 0, 1) inset;
}

.display {
  padding: 16px;
  text-align: center;
  background: var(--dark);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  box-shadow: 0 0 3px rgb(51, 48, 48) inset, 0 0 6px rgb(45, 43, 43) inset;
}

.display span {
  font-size: 14px;
  color: #444;
}

button {
  appearance: none;
  border: 1px solid teal;
  border-radius: 0.4rem;
  box-shadow: 0 0 3px rgb(51, 48, 48) inset, 0 0 6px black inset;
  outline: none;
  font-size: 30px;
  color: #fff;
  /* margin: 2px; */
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.33%;
  max-width: 33.3%;
  background: var(--dark);
}
